*Makefile
*Makefile.in
aclocal
*.o
*.deps
*.a
.*.swp
*.bak*
src/chronQ/chronQ
*.try
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
test
build_*
.COPY
deps/include/
deps/lib/
deps/src/libint-2.1.0-beta2/
deps/share/
*.pyc
fort.7
tmp
*~
*.out
chronusQ
Test/UNIT/new-tests
Test/UNIT/*.txt
Test/UNIT/python*
