*Makefile
*Makefile.in
aclocal
*.o
*.deps
*.a
.*.swp
*.bak*
src/mattest/mattest
src/chronQ/chronQ
*.try
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
test
build
.COPY
